/* .form-container{
    opacity:0;
} */


 

.current-tab{
    background-color: antiquewhite;
    
} 


body{
    
height: 100vh;
width: 100vw;
background-color:rgb(39, 39, 95)
}


.wraper{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    width:800px;
    margin: 0 auto;
    /* position: relative;
     */

}






h1{
    text-align: center;
    /* align-items: center; */
}

.click-button{
    display: flex;
    justify-content:space-evenly;
    width:100%;

    /* text-align: center;
    align-items: center; */
}

.click-button button{
    font-size: 20px;
    background-color: rgb(182, 199, 199);
    border-radius:8px;
    cursor: pointer;
    font-weight: 600;
}



/* grant access container css */

.grant-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top:50px;
    scale:0 ;
}

.grant-container img{
    border-radius: 50%;

}

.grant-container button{

    font: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: azure;
    font-weight: 600;

}



/* loder container ka css */

 .loading-container{
   
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    scale: 0;
} 

/* .loading-container img{
    border-radius: 50%;
    
}  */






/* search form css */

.form-container{



    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
   width:400px;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
    scale: 0;

}

.inputcss{
    width:300px;
    height:30px;
    border-radius:7px;
    border: none;
    
}


.btncss img{
    border-radius:50%;

    

}
 

.form-container.input::placeholder{
    color:brown;
    font-size:40px;
}










/* discription wale container ka css */

.wether-container{
   
    position: relative;
    
    
}

  .discription-container{
     width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
     /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);  */

      text-align:center;
      position: absolute;
    top:120%;
    left: 50%;
    transform: translate(-50%, -50%); 
    scale: 0;

} 

  .name-flag{
    display: flex;
    flex-direction: row;
    /* font-size:25px; */
    height:50px;
    gap:10px;
    align-items: center;
    justify-items: center;



}

.name-flag p{
font-size:30px;
color: white;
}
.name-flag img{
    width:30px;
    height:20px;
} 

/* .discription-container p{
    font-size:40px;

}

 */

 .text{
    font-size:25px;
    color: white;
 }

 .img-cloud{
    height: 20px;
    width: 20px;
 }

.text-2{
    font-size: 40px;
    color: white;
}

.threebox-container{
    display: flex;
    gap:10px;
    
}

.box{
    /* display: flex;
    flex-direction: column; */
    border: 2px solid black;
    /* align-items: center; */
    width:150px;
  
    border-radius: 10px;
    background-color: rgba(167,183,211,0.9);
}

.box img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.box h1{
    font-size:20px;
    color: white;

}
  .text-3{
    font-size: 15px;
    color:white;
}



.active{
    scale:1;
}